<div class="loader-row" *ngIf="isLoading">
    <app-loader [loading]="isLoading"></app-loader>
</div>

<div class="main-img" *ngIf="mainImg$ | async as img">
    <img [src]="img[0].url" width="100%" alt="">
</div>

<div class="hits" *ngIf="popular$ | async as popular">
    <div class="hits-title">
        Often Ordered
    </div>
    <div class="line"></div>

    <div class="card-row">
        <div class="card" *ngFor="let position of popular">
            <div class="img">
                <img [src]="position.img" alt="">
            </div>
            <div class="title-row">
                <div class="title">{{position.name}}</div>
            </div>
            <div class="price prev">{{position.price | currency}}</div>
            <div class="price">{{getPrice(position.price, position.discount) | currency}}</div>
            <div class="btn" (click)="addToCart({img: position.img, name: position.name, price: getPrice(position.price, position.discount)})"><button>Buy</button></div>
        </div>
    </div>
</div>

<div class="hits" *ngIf="specialOffers$ | async as specialOffers">
    <div class="hits-title">
        Special Offers
    </div>
    <div class="line"></div>

    <div class="card-row">
        <div class="card" *ngFor="let offer of specialOffers">
            <div class="img">
                <img [src]="offer.img" alt="">
            </div>
            <div class="title-row">
                <div class="title">{{offer.name}}</div>
            </div>

            <div class="price prev">{{offer.price | currency}}</div>
            <div class="price now">{{getPrice(offer.price, offer.discount) | currency}}</div>
            <div class="btn"><button (click)="addToCart({img: offer.img, name: offer.name, price: getPrice(offer.price, offer.discount)})">Buy</button></div>
        </div>
    </div>
</div>
