<div class="loader-row" *ngIf="isLoading">
    <app-loader [loading]="isLoading"></app-loader>
</div>

<div class="main-img" *ngIf="mainImg$ | async as img">
    <img [src]="img[0].url" width="100%" alt="">
</div>

<div class="hits" *ngIf="popular$ | async as popular">
    <app-main-page-hits [title]="'Often Ordered'" [hits]="popular"></app-main-page-hits>
</div>

<div class="hits" *ngIf="specialOffers$ | async as specialOffers">
    <app-main-page-hits [title]="'Special Offers'" [hits]="specialOffers"></app-main-page-hits>
</div>
