.category {
    .category-title {
        text-align: center;
        margin-top: 20px;
        font-size: 50px;
        font-weight: 400;
    }
}

.catygory-row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr; 

    @media (min-width: 576px) { 
        grid-template-columns: 1fr 1fr; 
    }
    @media (min-width: 998px) { 
        grid-template-columns: 1fr 1fr 1fr ; 
    }
    @media (min-width: 1100px) { 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}

.line {
    margin: 0 auto;
    max-width: 40px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-top: 15px;
}

.card {
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;

    .img {
        height: 200px;
        width: 200px;
        margin: 0 auto;
        img {
            height: 200px;
            object-fit: cover;
        }
    }



    .discription {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            font-size: 30px;
            text-align: center;
            margin: 15px 0;
            line-height: 35px;
        }
        .discription-body {
            font-size: 20px;
            margin: 5px 0;
            text-align: justify;
        }
        .discription-price {
            text-align: center;
            font-size: 30px;
            margin: 10px 0;
            .prev {
                margin: 0 0 10px 0;
                font-size: 30px;
                text-decoration: line-through;
            }
        }
    }
    .btn {
        margin-top: 20px;
        text-align: center;
        .buy {
            padding: 0 50px;
            font-size: 25px;
            line-height: 40px;
            background-color: rgb(0, 0, 0);
            border-radius: 10px;
            color: rgb(255, 255, 255);
        }
    }
    
}