
    <div class="category" *ngFor="let productsByCategory of catrgorys">
      <div class="category-title">{{productsByCategory.title}}</div>

      <div class="line"></div>

      <div class="catygory-row" >
        <div class="card" *ngFor="let product of productsByCategory.products">
            <div class="img">
                <img [src]="product.img" alt="">
            </div>

            <div class="discription">
                <div class="title">
                    {{product.name}}
                </div>
                <div class="discription-body">
                    {{product.discription}}
                </div>
                <div class="discription-price">
                    <div *ngIf="product.discount" class="price prev">{{product.price | currency}}</div>
                    <div class="price">{{getPrice(product.price, product.discount) | currency}}</div>
                </div>
            </div>
            <div class="btn">
                <button class="buy" (click)="addToCart({img: product.img, name: product.name, price: getPrice(product.price, product.discount)})">Buy</button>
            </div>
        </div>
      </div>
    </div>
