<header class="header">
    <nav>
        <div 
        *ngIf="cartIsOpen && (cartPositionAmount$ | async)" 
        (click)="goToCart()" 
        class="cart">
          <span>Cart</span>
          <span>{{cartPositionAmount$ | async}}</span>
        </div>

        <div class="navbar">
          <div class="container nav-container">
              <input [(ngModel)]="menuIsOpen" class="checkbox" type="checkbox"/>
              <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </div>  
            <div class="logo">
              <h1 (click)="goTohomePage()">Palmburg Pizza</h1>
            </div>
            
            <div class="overlay-menu" (click)="menuIsOpen = false" *ngIf="menuIsOpen">
                <div class="menu-items" (click)="$event.stopPropagation()">
                    <li><a routerLink="/menu" (click)="menuIsOpen = false">Menu</a></li>
                    <!-- <li><a routerLink="/discount" (click)="menuIsOpen = false">Discount</a></li> -->
                    <li><a routerLink="/about" (click)="menuIsOpen = false">About</a></li>
                    <li><a routerLink="/delivery" (click)="menuIsOpen = false">Delivery</a></li>
                  </div>
            </div>

          </div>
        </div>
      </nav>
</header>
