<div class="body" *ngIf="productsResponse$ | async as products">
    <div class="add">
        <button class="edit" (click)="addProduct()">Add product</button>
    </div>
    <div class="category" *ngFor="let productsByCategory of getSortedByCategory(products)">
        <div class="category-info">
            <div class="category-title">{{productsByCategory.title}}</div>
        </div>

  
        <div class="line"></div>
  
        <div class="catygory-row" >
          <div class="card" *ngFor="let product of productsByCategory.products">
            <div class="img">
                  <img [src]="product.img">
              </div>
  
              <div class="discription">
                  <div class="title">
                      {{product.name}}
                  </div>
                  <div class="discription-body">
                      {{product.discription}}
                  </div>
                  <div class="discription-price">
                      <div *ngIf="product.discount" class="price prev">{{product.price | currency}}</div>
                      <div class="price">{{getPrice(product.price, product.discount) | currency}}</div>
                  </div>
              </div>
              <div class="btn">
                  <button class="edit" (click)="editProduct(product.category_id)">Edit</button>
              </div>
              
              
            </div>
        </div>
      </div>
</div>

