<h1>Product details</h1>

<div class="body" *ngIf="product$ | async as product">
    <form class="row" [formGroup]="infoForm" (ngSubmit)="updateProduct()">
        Category: <input formControlName="title"  type="text" >
        Name: <input formControlName="name"  type="text" >
        Discription: <input type="text" formControlName="discription" >
        Image url/path: <input type="text" formControlName="img" >
        Price: <input type="text" formControlName="price" >
        Discount: <input type="text" formControlName="discount" >
        <button class="save">Apply changes</button>
    </form>
    <button class="delete">Delete product</button>
</div>
