h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.link {
    text-align: center;
    margin-top: 50px;
    div {
        cursor: pointer;
        font-size: 30px;
        text-decoration: underline;
        color: rgb(0, 0, 0);
    }
}
